services:
  db:
    image: postgres:16.2-bookworm
    container_name: auction-db
    restart: always
    environment:
      # POSTGRES_USER: urlshortener
      POSTGRES_PASSWORD: auction
    ports:
      - 5432:5432
    volumes:
      - ./dbdata:/var/lib/postgresql/data
  
  adminer:
    image: adminer
    container_name: auction-adminer
    restart: always
    ports:
      - 8080:8080
